<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Sounds of the Greenshields</name>

  <description>
      Greenshields sound app
  </description>

  <author href="https://build.phonegap.com" email="rummelz13@yahoo.com">
      Zach Rummel
  </author>

  <icon src="icon.png"></icon>

</widget>